<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.peisun.wakeuptimer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<!-- AdMob SDK permissions -->
    <!-- 広告の取得に必要 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 地域にあった広告の取得に必要 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".WakeupTimerActivity"
            android:screenOrientation="portrait"> 
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="jp.peisun.wakeupTimer.intent.setalarm"/>
            </intent-filter>
            
        </activity>
        

        <activity 
            android:name="CalcActivity" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
			<intent-filter >
                <action android:name="jp.peisun.wakeupTimer.intent.calcActivity"/>
            </intent-filter>
        </activity>
        <service android:name="timerService" >
            <intent-filter>
                <action android:name="jp.peisun.wakeupTimer.intent.wakeup"/>
				<action android:name="jp.peisun.wakeupTimer.intent.soundPlay"/>
				<action android:name="jp.peisun.wakeupTimer.intent.soundStop"/>
				<action android:name="jp.peisun.wakeupTimer.intent.snoozeStart"/>
				<action android:name="jp.peisun.wakeupTimer.intent.snoozeCancel"/>	
				<action android:name="jp.peisun.wakeupTimer.intent.boot_completed"/>
				<action android:name="jp.peisun.wakeupTimer.intent.finish"/>
				<action android:name="jp.peisun.wakeupTimer.intent.setconfig"/>
				<!-- デバッグ用のアラーム、バイブレーション、スヌーズを黙らせるだけ -->
				<action android:name="jp.peisun.wakeupTimer.intent.force"/>
				
        </intent-filter>    
        </service>
        
        <receiver android:name="wakeupReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <!-- デバイスブート時のインテントを受け取るレシーバ -->
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <!-- マナーモードが変更されたときのインテント -->
            <action android:name="android.media.RINGER_MODE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>